.jfx-tab-pane .headers-region {
    -fx-background-color: #263238;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #263238;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #fff;
    -fx-stroke-width: 1pt;
}
